@import url('https://fonts.googleapis.com/css?family=Roboto');
html{
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: white;
}

#canvas{
  background-color: blue;
  width: 700px;
  height: 600px;
}
